---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// Overrides

.page__content p {
  font-size: 0.8em;
  line-height: 1.2;
}

.page__content li {
  font-size: 0.8em;
  line-height: 1.2;

}

.page__content dl {
  font-size: 0.8em;
  line-height: 1.2;
}

.page__content pre code {
  font-size: 0.8em;       /* slightly smaller font */
  line-height: 1.4;       /* tightest reliable value */
  display: block;         /* ensures line-height applies properly */
}

.page__content code {
  margin: 0;              /* remove extra spacing around */
  padding: 0.0em 0.0em;   /* adjust to taste */
}

.toc__menu {
  font-size: 0.8em;
}

